*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0, 0, 0);
}
h1,h2,h3,h4,h5{
  font-family: "Quicksand", sans-serif !important;
}

.navbarLi:hover{
  border-bottom: 3px solid blue;
}
.homeSection{
  height: 80vh;
  width:99.7vw;
  background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("/images/common-bg.png");
}
.navbarImg{
  width: 55px;
  height: 50px;
  margin-right: 25px;
  }
.leftHomeSection{
  width: 12vw;
  display: flex;
  align-items: center;
}
.links{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  flex-direction: column;
}
.linksIcons{
  font-size: 2.2rem;
  color: black;
}
.rightHomeSection{
  width: 88vw;
  padding-top: 12vh;
  overflow: hidden;
}
.HomeH1{
  font-family: "Quicksand", sans-serif !important;
}
.HomeRightBtn{
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-self: center;
  gap: 5px;
  width: 150px;
  padding: 15px 50px;
  font-size: 1.4rem;
  border-radius: 25px;
  font-family: "Quicksand", sans-serif !important;
}

.HomeRightBtn a{
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none;
  color: white;
}
.profile_img{
  width: 220px;
  border-radius: 25px;
  box-shadow: inset 0 0 0 9px rgb(255,255,255/30%);
  animation: profile_animation 8s ease-in-out infinite 1s;
}
@keyframes profile_animation{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.mouseScrollCont{
  position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.mouse{
  width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}
.mouse::before{
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
.About{
  width: 100%;
  overflow: hidden;
  background-color: #FAFAFA;
}
.aboutTop>h2{
  font-weight: 900;
  color: #AAAAAA;
}
.hrLine::before{
  content: '';
    position: absolute;
    /* top: calc(100% + 1.5rem); */
    height: 5px;
    width: 2.5rem;
    background: #7843E9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  .hrLine{
  margin: 0px 0px 22px 0px;
}
.aboutMainSection{  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 12%;
  padding: 10px 8em;
  overflow: hidden;
  }
.aboutBtn{
  color: white;
  background-color: black;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  font-family: "Quicksand", sans-serif !important;  
  margin-top: 10px;
}
.aboutImg{
  border-radius: 45px;
  width: 280px;
}
.aboutBtnicon{
  font-size: 1.5rem;
}
.skillSection{
  background-color: #FAFAFA;
}
.Skill>h2{
  font-weight: 800;
  color: #AAAAAA;
}
.SkillsDiv{
  display: flex;
  justify-content: center;
  gap: 8%;
}
.innerSkillsDiv>h1{
  padding: 10px;
  font-size: 2.2rem;
  font-weight: 600;
}
.Skills{
  padding: 10px;
}
.col>h4{
  font-size: 1.4rem;
  font-weight: 600;
}
.col>p{
  color: #AAAAAA;
  margin-left: 30px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 500;
}
.ProjectsSection{
  background-color: #FAFAFA;
}
.projectTop>h2{
  font-weight: 800;
  color: #AAAAAA;
}
.projectContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.projcts{  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 10px 8em;
  overflow: hidden;
  }
  .projectBtn{
    color: white;
  background-color: #7843E9;
  padding: 15px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif !important;  
  margin-top: 10px;

  }
  .contactSection{
    margin-top: 35px;
    height: 100vh;
    background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("/images/common-bg.png");
  }
  .contactTop>h2{
    font-weight: 800;
    color: #AAAAAA;
  }
  .contactForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formDiv{
    width: 60%;
    padding: 20px 30px;
  }
  label{
    font-weight: 500;
    font-size: 1.2rem;
    color: #151515d9;
  }
input[type=text] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0F0F0;
}
input[type=email] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F0F0F0;
}
.formBtn{
  color: white;
  background-color: black;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  font-family: "Quicksand", sans-serif !important;  
  margin-top: 10px;
}
.footerSection{
  background-color: #FAFAFA;
}
footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer>h1{
  font-family: "Quicksand", sans-serif !important;
  font-weight: 700;
}
footer>h4{
  font-size: 1rem;
    color: #AAAAAA;
}
.fotterIcons{
  font-size: 2.2rem;
  margin: 0px 10px;
}
.fotterIcons>a{
  color: black;
}
.divider{
  border-top: 1px solid rgba(218 202 202 / 87%);
  width: 90vw;
  margin-top: 5px;
}
.divider>p{
  font-size: 0.8rem;
  margin-top: 15px;
}


/* ######################################## */

@media only screen and (max-width: 37.5em){
.mouseScrollCont {
    display: none;
}
.leftHomeSection{
  display: none;
}
.rightHomeSection{
  margin-left: 80px;
  padding-top: 0vh;
}
.homeSection{
  height: unset;
  min-height: unset;
}
.aboutMainSection{
  padding: 10px;
}
.aboutText{
  padding-left: 0vh;
}
.aboutImg{
  display: none;
}
.projcts{
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.projectContent{
  padding: 15px;
  gap: 60px;
}
.contactForm{
  padding: 0px;
}
}